.carousel-filter-button.MuiButton-root {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100px;
}
