.reservation__card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.reservation__form-1,
.reservation__form-2 {
    border: 1px solid lightgray;
    border-radius: 10px;
}