.home {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1780px;
  margin: 0 auto;
}

.home__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .home__grid {
    display: flex;
    justify-content: center;
  }
}